<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>279618873262-40oavc8umjtgqtbct30arbimbscu5uui.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.279618873262-40oavc8umjtgqtbct30arbimbscu5uui</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>279618873262-i2iai95u8gnia0g5st8e4kmcftlp68vf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCgtHT-tWPO7d2W2ysiH8W-kgfx-IjXRb8</string>
	<key>GCM_SENDER_ID</key>
	<string>279618873262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jhkorea.jaegojochi</string>
	<key>PROJECT_ID</key>
	<string>jaegochoigo-2ce35</string>
	<key>STORAGE_BUCKET</key>
	<string>jaegochoigo-2ce35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279618873262:ios:584a2f90e89fc7190fca3f</string>
</dict>
</plist>